
<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar class="color">
            <span>Menú</span>
            <span class="spacer"></span>
            <button mat-icon-button
                    (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <a routerLink="./listado"
               mat-list-item
               (click)="sidenav.toggle()">
               <mat-icon mat-list-icon>receipt_long</mat-icon>
                <span>Listado de Usuarios</span>
            </a>
            <a routerLink="./agregar"
               mat-list-item
               (click)="sidenav.toggle()">
               <mat-icon mat-list-icon>person_add</mat-icon>
                <span>Añadir Usuario</span>
            </a>
            <a routerLink="./buscar"
               mat-list-item
               (click)="sidenav.toggle()">
               <mat-icon mat-list-icon>person_search</mat-icon>
                <span>Buscar Usuario</span>
            </a>
        </mat-nav-list>

    </mat-sidenav>

    <mat-toolbar>
        <button mat-icon-button
                (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>

        <span class="spacer"></span>

        <button mat-button
                (click)="logout()">
            Cerrar Sesión
        </button>
    </mat-toolbar>

<app-listado></app-listado>


</mat-sidenav-container>
