/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.color {
    background-color: #00A0E6;
}

.spacer {
    flex: 1 1 auto;
}


.fuente {
    font-family: 'Pacifico', cursive; color: #00A0E6;
}